.branding kl-ui-logo {
  margin: 30px 0;
  display: block;
}
.branding h4 {
  margin: 30px 0;
  color: #243447;
  text-align: center;
}
.branding h5 {
  margin: 50px 0 30px;
  text-align: center;
}
.branding h5 span {
  margin: 0 20px;
}
.giants {
  padding-bottom: 20px;
}
.giants p {
  margin: 20px 0 30px;
  text-align: center;
}
.text-center {
  text-align: center;
}
.card-giant {
  margin-bottom: 0;
}
.legal {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
